/* MODE SELECT BAR */
.mode-bar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.mode-select {
  border-bottom: 1px solid black;
  width: fit-content;
  margin-left: 6px;
}

.mode-select:hover {
  cursor: pointer;
}