.plants-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
}

.need-water {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
}

.gtg {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
}

.planter {
  border-radius: 6px;
  width: 144px;
  height: 144px;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.plant-image {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  border-radius: 4px;
}

.plant-image:hover {
  -webkit-filter: brightness(70%);
  /* -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
  cursor: pointer;
}

.water-info {
  margin: 6px;
  text-align: center;
}
